.box2 {
  position: absolute;
  z-index: 1;
  width: 104.4rem;
  height: 35.9rem;
  left: 85rem;
  top: 25rem;
  background: #f7f7f7;
  //border: 1px solid #ffffff;
  box-shadow: 0rem 6rem 10rem rgba(65, 44, 100, 0.3);
  border-radius: 6rem;
  .icon-gr {
    position: absolute;
    left: 24.2rem;
    top: 9rem;
    button {
      display: inline;
      background: none;
      border: none;
      cursor: pointer;
      padding-right: 4.5rem;
    }
  }
  #gr2 {
    position: absolute;
    display: inline;
    left: 79.4rem;
  }
  .play-section {
    position: absolute;
    width: 29.6rem;
    height: 10.1rem;
    top: 5rem;
    left: 41.4rem;
    .bgr {
      position: absolute;
      border-radius: 50%;
      width: 5.79rem;
      height: 5.79rem;
      top: 50%;
      transform: translateY(-50%);
      background: #f8f8f8;
      box-shadow: -1rem -1rem 1.5rem #ffffff, 1rem 1rem 1rem rgba(0, 0, 0, 0.05),
        inset 1rem 1rem 1rem rgba(0, 0, 0, 0.05), inset -1rem -1rem 2rem #ffffff;
      cursor: pointer;
      button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: none;
        width: 4.185rem;
        height: 4.185rem;
        background: linear-gradient(
          159.16deg,
          #917ce4 26.46%,
          rgba(63, 45, 137, 0) 116.55%
        );
        box-shadow: inset 1rem 1rem 1.5rem rgba(255, 255, 255, 0.2);
        filter: drop-shadow(0rem 0.5rem 1rem rgba(55, 46, 152, 0.65));
        cursor: pointer;
      }
    }
    .bgr:hover {
      background-color: #ececec;
    }
    #play {
      width: 10.1rem;
      height: 10.1rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      #pause {
        width: 7.3rem;
        height: 7.3rem;
      }
    }
    #next-bgr {
      right: 0;
    }
  }
  .slide {
    position: absolute;
    left: 19.1rem;
    top: 21.1rem;
    input {
      width: 74.1rem;
    }
  }
  .timePlay {
    position: absolute;
    display: flex;
    font-size: 2rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    color: #917ce4;
    opacity: 0.7;
    top: 27.4rem;
    left: 19rem;
    #played {
      margin-right: 63rem;
    }
  }
}
