html {
  font-size: 62.5%;
  background-color: #edebef;
}

.box1 {
  position: absolute;
  z-index: 2;
  top: 20rem;
  left: 20rem;
  width: 78.4rem;
  height: 46.1rem;
  border-radius: 6rem;
  background: #f8f8f8;
  border: 0.1rem solid #ffffff;
  box-shadow: 4rem 3rem 8rem rgba(54, 48, 116, 0.3);
}
.box1 .image {
  position: absolute;
  width: 35.9rem;
  height: 35.9rem;
  top: 50%;
  transform: translateY(-50%);
  left: 6.5rem;
}
.box1 .image .bgr {
  position: absolute;
  width: 35.9rem;
  height: 35.9rem;
  border-radius: 4rem;
  box-shadow: inset 1rem 1rem 1rem rgba(0, 0, 0, 0.05), inset -1rem -1rem 2rem #ffffff;
  filter: drop-shadow(-1rem -1rem 1rem #ffffff) drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.05));
}
.box1 .image .bgr img {
  position: absolute;
  width: 32.9rem;
  height: 32.9rem;
  border-radius: 3rem;
  box-shadow: inset 1rem 1rem 1.5rem rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0.5rem 0.5rem 1rem rgba(37, 5, 57, 0.51));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box1 .detail {
  position: absolute;
  width: 19rem;
  height: auto;
  left: 45.4rem;
  top: 6.6rem;
}
.box1 .detail span {
  position: absolute;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.box1 .detail #npl {
  position: relative;
  margin-bottom: 8.1rem;
  font-size: 2rem;
  font-weight: 500;
  color: #d0d1db;
  text-shadow: 0.1rem 0.1rem 0.1rem #ffffff;
}
.box1 .detail #tittle {
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 600;
  color: #86748d;
}
.box1 .detail #artist {
  position: relative;
  margin-bottom: 0.8rem;
  font-size: 2rem;
  color: #a7a1a8;
  font-weight: 500;
}
.box1 .detail #album {
  font-size: 1.3rem;
  font-weight: 500;
  color: #beb7c0;
}
.box1 .btn-wraper {
  position: absolute;
  left: 44.6rem;
  top: 34.3rem;
  display: flex;
  gap: 2.3rem;
}
.box1 .btn-wraper button {
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 50%;
  border: none;
  box-shadow: -1rem -1rem 1.5rem #ffffff, 1rem 1rem 1rem rgba(0, 0, 0, 0.05), inset 1rem 1rem 1rem rgba(0, 0, 0, 0.05), inset -1rem -1rem 2rem #ffffff;
  cursor: pointer;
}
.box1 .btn-wraper button:hover {
  background-color: rgba(255, 255, 255, 0.7960784314);
}

.box2 {
  position: absolute;
  z-index: 1;
  width: 104.4rem;
  height: 35.9rem;
  left: 85rem;
  top: 25rem;
  background: #f7f7f7;
  box-shadow: 0rem 6rem 10rem rgba(65, 44, 100, 0.3);
  border-radius: 6rem;
}
.box2 .icon-gr {
  position: absolute;
  left: 24.2rem;
  top: 9rem;
}
.box2 .icon-gr button {
  display: inline;
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 4.5rem;
}
.box2 #gr2 {
  position: absolute;
  display: inline;
  left: 79.4rem;
}
.box2 .play-section {
  position: absolute;
  width: 29.6rem;
  height: 10.1rem;
  top: 5rem;
  left: 41.4rem;
}
.box2 .play-section .bgr {
  position: absolute;
  border-radius: 50%;
  width: 5.79rem;
  height: 5.79rem;
  top: 50%;
  transform: translateY(-50%);
  background: #f8f8f8;
  box-shadow: -1rem -1rem 1.5rem #ffffff, 1rem 1rem 1rem rgba(0, 0, 0, 0.05), inset 1rem 1rem 1rem rgba(0, 0, 0, 0.05), inset -1rem -1rem 2rem #ffffff;
  cursor: pointer;
}
.box2 .play-section .bgr button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  width: 4.185rem;
  height: 4.185rem;
  background: linear-gradient(159.16deg, #917ce4 26.46%, rgba(63, 45, 137, 0) 116.55%);
  box-shadow: inset 1rem 1rem 1.5rem rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0rem 0.5rem 1rem rgba(55, 46, 152, 0.65));
  cursor: pointer;
}
.box2 .play-section .bgr:hover {
  background-color: #ececec;
}
.box2 .play-section #playPause {
  width: 10.1rem;
  height: 10.1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box2 .play-section #playPause #play {
  width: 7.3rem;
  height: 7.3rem;
}
.box2 .play-section #next-bgr {
  right: 0;
}
.box2 .slide {
  position: absolute;
  left: 19.1rem;
  top: 21.1rem;
}
.box2 .slide input {
  width: 74.1rem;
}
.box2 .timePlay {
  position: absolute;
  display: flex;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: #917ce4;
  opacity: 0.7;
  top: 27.4rem;
  left: 19rem;
}
.box2 .timePlay #played {
  margin-right: 63rem;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 55%;
  }
}

/*# sourceMappingURL=style.css.map */
